.tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  border-radius: 16px;
  padding-inline: 10px;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 0.8125rem;
  background-color: rgba(0, 0, 0, 0.04) !important;
  color: #777 !important;
  user-select: none;
  cursor: pointer;
}

.tag:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.tag.active {
  background: #3ca6da !important;
  color: #fff !important;
}
