.message {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-wrap: anywhere;
  width: fit-content;
  word-break: normal;
  max-width: 65%;
  border-radius: 12px 12px 12px 0px;
  border: 2px solid rgb(233, 233, 233);
  padding: 12px 20px;
  background: rgb(255, 255, 255);
  color: var(--text);
}
.label {
  position: absolute;
  background-color: #3ea6da !important;
  border-radius: 6px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  left: -19px;
  top: 22px;
  padding: 6px 0px;
  text-align: center;
  transition: background-color 0.2s;
  width: 34px;
}

.messageLabel {
  cursor: pointer;
  max-width: 100%;
}
.messageLabel:hover {
  border: 2px solid #0000004d !important;
}
@media (max-width: 1024px) {
  .message {
    max-width: 100%;
  }
}
