.wrapper {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 0 10px 5px hsla(0, 0%, 87%, 0.2);
  box-sizing: border-box;
  font-size: 14px;
  padding: 1px 20px 22px;
}
.header {
  border-bottom: 1px solid rgb(238, 238, 238);
  color: rgb(170, 170, 170);
  display: flex;
  justify-content: space-between;
  margin: 26px 0px 22px;
  padding: 0px 12px 3px;
}
.dialog {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
