.questons {
  position: sticky;
  top: 33px;
  overflow-y: auto;
  max-height: calc(-53px + 100vh);
  flex: 1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0 0 10px 5px hsla(0, 0%, 87%, 0.2);
  padding: 20px;
  gap: 20px;
  overflow: scroll;
}

.headerQuestons {
  color: rgb(170, 170, 170);
}

.options {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.swipe {
  background-color: white;
  position: absolute;
  top: -56px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  visibility: visible;
  right: 0px;
  left: 0px;
}

.puller {
  width: 30px;
  height: 6px;
  background-color: gray;
  border-radius: 3px;
  position: absolute;
  top: 8px;
  left: calc(50% - 15px);
}

.labels {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: 20px auto;
}

.label {
  background-color: #3ea6da !important;
  border-radius: 6px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 6px 0px;
  text-align: center;
  width: 34px;
}
